:root {
    --bg-1: #1b1c1d;
    --bg-2: #17191a;
}

input:user-invalid,
textarea:user-invalid {
    border: brown solid 1px;
}

/* vote buttons styling */
a.btn.voteBtnStyle.upvote-btn {
    color: #a52a2a;
    -webkit-text-stroke: transparent;
}

a.btn.voteBtnStyle.downvote-btn {
    color: #5319cf;
    -webkit-text-stroke: transparent;
}

.upvote-btn,
.downvote-btn {
    font-size: 1rem;
    color: transparent;
}
.vote-dashboard {
    -webkit-text-stroke: 2px black;
}
.vote-singleReq {
    -webkit-text-stroke: 2px #646f78;
}

#searchBox::placeholder,
textarea::placeholder {
    color: inherit;
    opacity: 0.5;
}

#clearSearchBox:hover {
    background-color: rgba(var(--bs-black-rgb), 0.2);
}

#videoRefClear:hover {
    background-color: rgba(var(--bs-secondary-bg-rgb), 0.5) !important;
}

#toggleTheme>span.material-icons-outlined{
    transition: all ease 0.5s;
}

.responsive-text-p {
  font-size: clamp(1rem, 2vw, 1.5rem);
}
.responsive-text-h {
  font-size: clamp(1.5rem, 3vw, 4.5rem);
}